
header {
    background-color: #7F5539;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 20px; /* Adds space between the header and the body content */
    width: 100%;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between; /* Distributes items with space between them */
    align-items: center; /* Centers items vertically */
    color: #ffffff;
}

.nav-left {
 color: #ffffff;   /* Styles for the left-aligned content */
}

.nav-right {
    /* Styles for the right-aligned content */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

body {
font-family: Arial, sans-serif;
background-color: #F0EAD2;
color: #333333;
margin: 0;
padding: 0;
}

.main{
display: block;
margin: 3em;
background-color: #F0EAD2;
border-radius: .5em;
padding: 2em;
border: .1em solid #ccc;
background-color: #ffffff;
box-sizing: border-box;
   
}
    

.caption{
display: flex;
justify-content: space-between; 
align-items: center; 
}

#name{
margin-left: 3em;
}

.addLink{
color: #333333;
font-weight: bold;
margin-right:0.5em;

}

table{
font-family: Arial; 
text-align: center; 
border-style: solid;
width: 100%;
background-color:#ffffff;
border-collapse: collapse;
table-layout: auto;
}

thead th{
background-color: #BE986D
}

table, th, td {
border: .1em solid #ccc;
padding: 0.8em;
}

.editLinks{
color: #333333;
font-weight: bold;
font-size: 0.8em;

}

td a {
    display: inline;
}

/*-------------------------------------------------------------------------------*/

.NewTravel, .addPlace{
max-width: 35em;
margin: 5em auto;
padding: 3em;
font-size: 1em;
border: .1em solid #ccc;
background-color: #ffffff;
box-shadow: 0 0 .5em rgba(0, 0, 0, 0.1);
border-radius: .5em;
box-sizing: border-box;
}

.NewTravel{
height: 30em;
}

#nextButton{
position: relative;
top: 2em;
}

h1 {
text-align: center;
color: #7F5539;
position: relative;
bottom: 1em;
}

select{
margin-bottom: 1em;
}

.travelMonth, .Country {
    margin-bottom: 1.8em;
    padding: 0.8em;
    border: 0.05em solid #000; 
    border-radius: 0.5em;
}

label {
display: block;
margin-bottom: 0.5em;
color: #333333;
}

input[type="text"],
textarea,
select,
input[type="number"],
input[type="file"] {
    width: 100%; 
    max-width: 100%;
    padding: 0.8em;
    border: 0.1em solid #ccc;
    border-radius: 0.4em;
    background-color: #f9f9f9;
    box-sizing: border-box; 
}

#name {
margin-left: 0; 
}


input[type="submit"]{
    width: 100%;
    padding: .8em;
    background-color: #7F5539;
    color: #ffffff;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    font-size: 1em;
}

.buttons input[type="submit"]{
margin: 1.2em;
width: 40%;
padding: .5em;
background-color: #7F5539;
color: #ffffff;
border: none;
border-radius: 0.4em;
cursor: pointer;
font-size: 1em;
}


input[type="submit"]:hover {
	background-color: #5f4031;
}
