body {
    font-family: Arial, sans-serif;
    background-color: #F0EAD2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #fbf6f6;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #7F5539;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #7F5539;
    color: #fbf6f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.signup-btn:hover {
    background-color: #6b432f;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #7F5539;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    height: 50px;
    width: auto;
}
