body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F0EAD2;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #7F5539;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 50px;
    width: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.app-name {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.login-btn {
    padding: 12px 24px; /* Increased padding for a larger button */
    font-size: 1em;
    margin: 10px;
    cursor: pointer;
    border: 3px solid #7F5539; /* Added thicker border */
    color: #fbf6f6;
    background-color: #7F5539;
}

.signup-btn {
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
    cursor: pointer;
    border: none;
    color: #070707;
    background-color: #F0EAD2;
    font-weight: bold;
    text-decoration: underline; /* Underline and bold the text */
}

.sign-up-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sign-up-section p {
    font-size: 1.1em;
    margin-right: -20px; /* Reduced margin to bring text closer to the button */
    margin-bottom: 0; /* Removed bottom margin to avoid extra spacing */
}
